<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img alt="The Angry Cookbook" src="/images/cookbook2.png" width="100px" height="100px"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/create">Add Recipe</a></li>
                <li><a href="/update">Edit Recipe</a></li>
                <li><a href="delete">Delete Recipe</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/create">Add Recipe</a></li>
                    <li><a href="/update">Edit Recipe</a></li>
                    <li><a href="/delete">Delete Recipe</a></li>
                </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
