<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Add Recipe</a>
  </li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

  <h2>Add Recipe</h2>
  <br>
  <br>
  <form action="/create" method="POST" class="form-horizontal" id="addRecipeForm">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="title">Recipe Title</label>
      <div class="col-md-4">
        <input id="title" name="title" type="text" placeholder="Enter the recipe's title" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Recipe Description</label>
      <div class="col-md-4">
        <input id="description" name="description" type="text" placeholder="Enter recipe's description" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="minutes">Recipe Time (min)</label>
      <div class="col-md-4">
        <input id="minutes" name="minutes" type="text" placeholder="Enter recipe time in minutes" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Submit button for form -->
    <div class="form-group">
      <div id="btn_center" class="col-sm-offset-2 col-sm-10">
        <button id="button_show" "type="submit" class="recipeShow btn btn-primary">Add Recipe</button>
      </div>
    </div>
        <br>
  </form>
