<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Add Instruction</a>
  </li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<div id="button-box">
  <button class="return-show btn-info" data-id="<%= recipe.id %>" width="100px">Recipe Details</button>
</div>
<br />
<br />
  <h2>Add Instruction for: <span style="font-weight: 300; font-size: 30px;"><%= recipe.title %></span></h2>
  <form action="/<%= recipe.id %>/instructions/create" method="POST" class="form-horizontal" id="addStepForm">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="foodItem">Recipe Step</label>
      <div class="col-md-4">
        <input id="step" name="step" type="text" placeholder="Enter descriptive recipe step" class="form-control input-md" required="">
      </div>
    </div>


    <!-- Submit button for form -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Add Instruction</button>
      </div>
    </div>
  </form>
