<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Add Ingredient</a>
  </li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

  <h2>Add Ingredient for Placeholder</h2>
  <form action="/create" method="POST" class="form-horizontal" id="addIngredientForm">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="foodItem">Ingredient Item</label>
      <div class="col-md-4">
        <input id="foodItem" name="foodItem" type="text" placeholder="Your ingredient here" class="form-control input-md" required="">
        <span class="help-block">Enter the recipe ingredient</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="unitOfMeasure">Owner First Name</label>
      <div class="col-md-4">
        <input id="unitOfMeasure" name="unitOfMeasure" type="text" placeholder="Unit of measure here" class="form-control input-md" required="">
        <span class="help-block">Enter unit of measure</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="quantity">Quantity</label>
      <div class="col-md-4">
        <input id="quantity" name="quantity" type="text" placeholder="Quantity here" class="form-control input-md" required="">
        <span class="help-block">Enter quantity for this ingredient</span>
      </div>
    </div>

    <!-- Submit button for form -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add Ingredient</button>
      </div>
    </div>
  </form>
