<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Add Ingredient</a>
  </li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

  <div id="button-box">
    <button class="return-show btn-info" data-id="<%= recipe.id %>">Recipe Details</button>
  </div>
  <br />
  <br />
  <h2>Add Ingredient for: <span style="font-weight: 300; font-size: 30px;"><%= recipe.title %></span></h2>
  <form action="/<%= recipe.id %>/ingredients/create" method="POST" class="form-horizontal" id="addIngredientForm">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="foodItem">Ingredient Item</label>
      <div class="col-md-4">
        <input id="foodItem" name="foodItem" type="text" placeholder="Enter the recipe ingredient" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="unitOfMeasure">Unit of measure</label>
      <div class="col-md-4">
        <input id="unitOfMeasure" name="unitOfMeasure" type="text" placeholder="Enter unit of measure" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="quantity">Quantity</label>
      <div class="col-md-4">
        <input id="quantity" name="quantity" type="text" placeholder="Enter quantity for this ingredient" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Submit button for form -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Add Ingredient</button>
      </div>
    </div>
  </form>

  <br />
  <br />
