<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Add Recipe</a>
  </li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

  <h2>Add Recipe</h2>
  <form action="/create" method="POST" class="form-horizontal" id="addRecipeForm">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="title">Recipe Title</label>
      <div class="col-md-4">
        <input id="title" name="title" type="text" placeholder="Your title here" class="form-control input-md" required="">
        <span class="help-block">Enter the recipe's title</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Recipe Description</label>
      <div class="col-md-4">
        <input id="description" name="description" type="text" placeholder="Recipe description here" class="form-control input-md" required="">
        <span class="help-block">Enter recipe's description</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="minutes">Recipe Time (min)</label>
      <div class="col-md-4">
        <input id="minutes" name="minutes" type="text" placeholder="Time in minutes" class="form-control input-md" required="">
        <span class="help-block">Enter recipe time in minutes</span>
      </div>
    </div>

    <!-- Submit button for form -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add Recipe</button>
      </div>
    </div>
  </form>
