<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Delete Employee</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Delete Recipe</h2>

<div style="text-align: center; padding-top:50px">
  <form action="/delete" method="POST">
    <div class="form-group">
      <label for="recipe_id">SELECT A RECIPE TO DELETE</label><br/>
      <select id="recipe_id" name="recipe_id">
      <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
        <% recipes.forEach(function(recipe){ %>
          <option value="<%= recipe.id %>">
            <%= recipe.tile %>
          </option>
        <% }) %>
      <% } %>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger">
        DELETE RECIPE
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </form>
</div>
