<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Edit Recipe</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>


<form action="#" method="">
  <div class="form-group">
    <label for="recipe_id">SELECT A RECIPE TO UPDATE</label><br/>
    <select id="recipe_id" name="recipe_id">

    <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
      <% recipes.forEach(function(recipe){ %>
        <option value="<%= recipe.id %>">
          <%= recipe.title %>
        </option>
      <% }) %>
    <% } %>
    </select>
  </div>
</form>

<h2>Update Recipe</h2>
<form action="/update" method="POST" class="form-horizontal" id="updateRecipeForm">
  <input type="hidden" name="id" id="recipe_id" value="">
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="title">Recipe Title</label>
    <div class="col-md-4">
      <input id="title" name="title" type="text" placeholder="Enter the recipe's title" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="description">Recipe Description</label>
    <div class="col-md-4">
      <input id="description" name="description" type="text" placeholder="Enter recipe's description" class="form-control input-md" required="">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="minutes">Recipe Time (min)</label>
    <div class="col-md-4">
      <input id="minutes" name="minutes" type="text" placeholder="Enter recipe time in minutes" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Submit button for form -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="recipeShow btn btn-info">Update Recipe</button>
    </div>
  </div>
</form>
