body {
    padding-top: 70px;
background-color: black;
}
/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
        background-color: #e6ffff;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}
h2  {
  color: #006666;
}
#button_show  {
  align-items: center;
}
#btn_center {
  display: flex;
  justify-content: right;
}
