body {
    padding-top: 70px;

}
/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
        background-color: #e6ffff;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}
/*#banner {
  display: flex;
  /*flex-direction: column;*/
  /*align-content: center;*/
  /*align-items: center;*/*/
}
#container  {
  /*margin-top: 50px;*/
}
