body {
    padding-top: 70px;

}
/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
        background-color: #e6ffff;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}
h2  {
  color: #006666;
}
